@import '../../../node_modules/bootstrap/scss/bootstrap';

.page-container {
  padding-top: calc(var(--bs-gutter-x) * 0.5);
  padding-bottom: calc(var(--bs-gutter-x) * 0.5);
}

.map {
  width: 100%;
  &.restaurant-map {
    width: 100%;
    height: 400px;

    @media (min-width: 376px) {
      height: 600px;
    }
  }
  &.restaurant-details-map {
    height: 240px;
  }
}

.quoted-text {
  font-style: italic;
  &::before {
    content: '"';
  }

  &::after {
    content: '"';
  }
}
